

body {
      background-color: #f9fafc;
      
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .page-header {
      text-align: center;
      margin-bottom: 30px;
    }

.trafic-light {
    background: black;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.glow-red {
    box-shadow: 0px 0px 50px 10px red;
}

.glow-yellow {
    box-shadow: 0px 0px 50px 10px yellow;
}

.glow-green {
    box-shadow: 0px 0px 50px 10px green;
}
